{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block hero %}
<!-- Hero Section -->
<section class="hero position-relative">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12 hero-image position-relative d-flex justify-content-center align-items-center">
                <div class="position-absolute top-0 end-0 p-3 text-white">
                    {% if user.is_authenticated %}
                        You are logged in as {{ user.username }}
                    {% else %}
                        You are not logged in
                    {% endif %}
                </div>
                <div class="text-center text-white">
                    <h1 class="display-4 mt-5">Explore the World by Continent</h1>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock hero %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- left column: recommended destinations -->
        <div class="col-md-8">
            <h1 class="my-4 text-white">Recommended Destinations by Continent</h1>
            {% for continent, destinations in destinations_by_continent.items %}
            <h2><u>{{ continent }}</u></h2>
            {% for destination in destinations %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ destination.title }}</h2>
                    <p class="card-text">{{ destination.excerpt }}</p>
                    <p class="card-text"><strong>Continent:</strong> {{ destination.get_continent_display }}</p>
                    <p class="card-text"><strong>Country:</strong> {{ destination.country }}</p>
                    <a href="{% url 'destination_detail' destination.slug %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ destination.created_on }} by
                    <a href="#">{{ destination.author.username }}</a>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <!-- Right Column: Recommendation Form and Recommendations -->
        <div class="col-md-4">
            <!-- Creating New Recommendations -->
            <div class="card mb-4">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h2 class="my-4">Submit Your Location Recommendation</h2>
                    <form id="recommendationForm" method="post" style="margin-top: 1.3em;">
                        {{ recommendation_form|crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to submit your recommendation</p>
                    {% endif %}
                </div>
            </div>
            <!-- Displaying Recommendations -->
            <div class="card mb-4">
                <div class="card-body">
                    <h3>Readers Recommendations:</h3>
                    {% for recommendation in recommendations %}
                    <div class="p-2 recommendations">
                        <p class="font-weight-bold">
                            {{ recommendation.user.username }}
                            <span class="font-weight-normal">
                                {{ recommendation.created_on }}
                            </span> wrote:
                        </p>
                        <div id="recommendation{{ recommendation.id }}">
                            <u>Place:</u> {{ recommendation.place_name | linebreaks }}
                        <u>Description:</u> {{ recommendation.description | linebreaks }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/recommendations.js' %}"></script>
{% endblock %}