{% extends 'base.html' %} {% block content %} {% load static %} <div class="container mt-5">
  <div class="row">
    <div class="col-md-4 text-center"> <img src="{% static 'images/ecotrail_viewer.jpg' %}" class="img-fluid"
        alt="Ecotrail Viewer" /> </div>
    <div class="col-md-8"> <!-- Adjusted column to ensure proper spacing -->
      <p>{{ destination.name }}</p>
      <p>{{ destination.description | safe }}</p>
      <p>Location: {{ destination.location }}</p>
    </div>
  </div>
</div> {% endblock content %}