{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-4">Destinations</h1>
            {% for destination in destinations %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ destination.title }}</h2>
                    <p class="card-text">{{ destination.excerpt }}</p>
                    <a href="{% url 'destination_detail' destination.slug %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ destination.created_on }} by
                    <a href="#">{{ destination.author.username }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}