{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'destinations' as destinations_url %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-Setup</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
</head>
<body>
    <h1>Home page place holder</h1>
    <li class="nav-item">
        <a
          class="nav-link
          {% if request.path == about_url %}active{%endif%}"
          aria-current="page"
          href="{% url 'about' %}"
          >About</a
        >
      </li>
</body>
</html>
